# piptools: python3
# Flask
# License: BSD
# Upstream url: http://github.com/mitsuhiko/flask/
# Use: For API.
Flask==0.10.1

# Flask Scripting support for Flask
# License: BSD
# Upstream url: http://github.com/techniq/flask-script
# Use: For CLI scripts.
Flask-Script==2.0.5

# Flask extension that configures the Flask application to redirect all
# incoming requests to https
# License: BSD
# Upstream url: https://github.com/kennethreitz/flask-sslify
# Use: For SSL redirection and HSTS
Flask-SSLify==0.1.5

# A Pythonic interface for Amazon's DynamoDB that supports Python 2 and 3.
# License: MIT
# Upstream url: http://jlafon.io/pynamodb.html
# Use: For DynamoDB storage
pynamodb==3.0.1

# Boto3 is the Amazon Web Services (AWS) Software Development Kit (SDK)
# for Python.
# License: Apache2
# Upstream url: https://github.com/boto/boto3
boto3==1.4.4

# Authomatic is a framework agnostic library for Python web applications
# with a minimalistic but powerful interface which simplifies
# authentication of users by third party providers like Facebook or
# Twitter through standards like OAuth and OpenID.
# License: MIT
# Upstream url: http://peterhudec.github.io/authomatic
# Use: For github auth
Authomatic==0.1.0.post1

# License: MIT
# Upstream url: http://gunicorn.org/
# Use: For wsgi running
gunicorn>=19.1.1,<20.0.0

# License: MIT
# Upstream url: http://www.gevent.org/
# Use: For concurrency
gevent==1.2.1

# License: MIT
# Upstream url: https://github.com/python-greenlet/greenlet
# Use: For concurrency
greenlet==0.4.12

# License: MIT
# Upstream url: https://github.com/jsocol/pystatsd
# Use: For metrics collection
statsd==3.2.1

# Upstream URL: https://dateutil.readthedocs.io
# License: Simplified BSD
# For date parsing in utils
python-dateutil==2.6.0

# WSGI middleware to add CSP headers
# License: Apache2
# Upstream url: https://github.com/dstufft/guard
guard==1.0.1

# Typed interactions with the GitHub API v3
# License: LGPL3
# Upstream url: https://github.com/PyGithub/PyGithub
PyGithub==1.35

# Our unit testing framework
pytest==2.8.5
